fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
twilio
fpdf
pandas
requests

streamlit
langchain
langchain-community
langchain-huggingface
langchain-groq
sentence-transformers
chromadb



huggingface-hub
typing_extensions
